
	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l5 offset-l1 s12">
					<h6>关于Soup</h6>
					<p>学习django期间摸索的一个小项目, 本打算模仿下厨房app的, 为了简化实现, 还是砍掉了上传图片功能. 其中一些实现也借鉴了不少Flask项目的方法. 
					Django现在已经发布3.0版本了, 这个项目使用的还是2.2版本.
					</p>
				</div>
				<div class="col l4 offset-l1 s12">
					<h6>相关资源</h6>
					<ul>
						<li><a class="red-text text-lighten-4" href="https://python666.cn/cls/lesson/list/">Crossin的编程教室</a></li>
						<li><a class="red-text text-lighten-4" href="https://www.djangoproject.com/">Django Web Framework</a></li>
						<li><a class="red-text text-lighten-4" href="https://reactjs.org/">React.js</a></li>
						<li><a class="red-text text-lighten-4" href="https://materializecss.com/">Materialize CSS</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
			<div class="row">
			<div class="col s12">
			Powered by AWS
			<a href="#" class="right red-text text-lighten-4">关于我</a>
			</div>
			</div>
			</div>
		</div>
	</footer>
