{% load static %}
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>                
<script src="{% static 'js/materialize.min.js' %}"></script>
<script src="{% static 'js/react.development.js' %}"></script>
<script src="{% static 'js/react-dom.development.js' %}"></script>
<script src="{% static 'js/babel.js' %}"></script>
<script type="text/babel" src="{% static 'js/components.js' %}"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection" />
<link rel="stylesheet" href="{% static 'css/soup.css' %}" />        
