{% extends 'base.html' %}
{% block title %}创建新菜谱 - Soup{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col l6 offset-l3 m8 offset-m2 s12">
			<h4>创建菜谱</h4>
			<form method="POST" action="{% url 'post_create' %}">
	{% csrf_token %}
	{% include 'include/_edit.html' %}
	</form>
		</div>
	</div>
</div>
{% endblock %}

{% block babel %}
ReactDOM.render(<Itemlist />, document.getElementById("items"));
ReactDOM.render(<Steplist />, document.getElementById("steps"));
{% endblock %}
